/Ahorcado/nbproject/private/
/Ahorcado/build/
/Juego_Uno/nbproject/private/
/Juego_Uno/build/
/Pokemon/nbproject/private/
/Pokemon/build/
/PokemonGPT/nbproject/private/
/ReservaVuelos/nbproject/private/
/ReservaVuelos/build/
/Clase1Prueba1/build/
/Clase1Practica/nbproject/private/
/Clase1Practica/build/
/OrdenacionArrays/nbproject/private/
/OrdenacionArrays/build/
